.directives {
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.directives button {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    margin: 4rem 1rem 1rem 1rem;
    border: none;
    background-color: turquoise;
    box-shadow: 1px 1px 5px turquoise;
    color: #000808;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

@media only screen and (max-width: 900px) {
    .directives {
        flex-direction: column;
        width: 30rem;
        align-items: center;
    }

    .directives > button {
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
        font-size: 2rem;
    }
}