.delete-user {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3.5rem;
    margin: 4rem 1rem 1rem 1rem;
    border: none;
    background-color: turquoise;
    box-shadow: 1px 1px 5px turquoise;
    color: #000808;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

@media only screen and (max-width: 900px) {
    .delete-user {
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
        font-size: 2rem;
        position: relative;
    }
}