.dictaphone {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dictaphone p {
    width: 24rem;
    border-bottom: 1px solid #efaf27;
}

.dictaphone button {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    margin: 1rem;
    border: 1px solid #efaf27;
    background-color: white;
    color: #000808;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

@media only screen and (max-width: 900px) {
    .dictaphone {
        flex-wrap: wrap;
        width: 50rem;
    }

    .dictaphone p {
        width: 42rem;
        height: 4rem;
        font-size: 3rem;
    }

    .dictaphone button {
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
        font-size: 2rem;
    }
}