header {
    box-shadow: 0 4px 4px -4px turquoise;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

header button {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin: 0rem 1rem;
    border: none;
    background-color: turquoise;
    box-shadow: 1px 1px 5px turquoise;
    color: #000808;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

header img {
    margin-left: 3rem;
    width: 22rem;
    border-radius: 22rem;
}

h1 {
    color: turquoise;
    font-size: 4rem;
}

.username {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.about-link {
    margin: 1rem;
    padding-top: 2rem;
    text-align: center;
    width: 5rem;
    height: 3rem;
    border-radius: 5rem;
    border: 1px solid #efaf27;
    text-decoration: none;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: #efaf27
}

.about-link:visited {
    border: 1px solid #efaf27;
    color: #efaf27;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    header {
        width: 47rem;
        padding: 1rem;
        margin: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
    }
    header img {
        width: 10rem;
        margin: 0 1rem;
    }

    h1 {
        font-size: 5rem;
    }

    header p {
        font-size: 1.5rem;
        align-self: flex-end;
    }

    .username {
        position: relative;
        margin-right: 8rem;
    }

    

    header button {
        font-size: 1.75rem;
    }

    .about-link {
        position: relative;
        align-self: center;
        text-decoration: none !important;
    }

    link:visited {
        text-decoration: none !important;
    }


}